.tripsPage{
    margin-top: 80px;
    margin-left: 33px;
}

.trip-box{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,57,121,1) 51%, rgba(0,212,255,1) 100%);
    max-width: 400px;
    color: white;
}