#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0px;
}

#event-details-container {
  width: 100%;
  max-width: 400px;
  padding: 0px;
  border-radius: 8px; /* rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
  text-align: center;
  margin-bottom: 20px; /* separation between elements */
}

#event-details-container button {
  width: 100%;
  padding: 0px; /* adjusted padding */
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}

#startRsvp {
  background-color: #4e7ac7; /* blue color similar to the 'assigned' status */
  &:hover {
    background-color: #4267b2; /* a darker blue on hover */
  }
}

button.google {
  background-color: #db4437; /* Google's color */
  &:hover {
    background-color: #c1351d; /* a darker red on hover */
  }
}

button.apple {
  background-color: #000000; /* Apple's color */
  &:hover {
    background-color: #333333; /* a dark grey on hover */
  }
}

/* Since ID should be unique, if you have multiple RSVP buttons, change to class */
button#startRsvp {
  background-color: #b6b8b4; /* Adjusting to a Google blue, if that was the intention */
}

hr {
  width: 100%;
  max-width: 800px;
  border: 0;
  border-top: 1px solid #abadaf; /* light grey line */
}

#firebaseui-auth-container {
  width: 100%;
  max-width: 800px;
}

/* Adjust the hr and firebaseui-auth-container styles to have consistent padding and shadow */
#firebaseui-auth-container, hr {
  padding: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bxicon{
  margin-left: 0;
  margin-top: 20px; /* separation between elements */
  align-self: left;
  justify-self: left;
}