#signinout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0px;
  background: rgb(73,124,162);
  background: linear-gradient(90deg, rgba(73,124,162,1) 0%, rgba(2,36,56,1) 42%, rgba(84,129,166,1) 100%);
}

#event-details-container {
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  height: 100%;
  padding-left: 30px;
  margin-left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 8px; /* rounded corners */
  text-align: center;
  margin-bottom: 20px; /* separation between elements */
  background-color: #ffffff; /* white background */
}


#startRsvp {
  font-family: var(--bolt-font-family-regular, var(--bolt-font-family-system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif));
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(73,124,162);
  &:hover {
    background-color: rgb(55, 109, 167);; /* a darker blue on hover */
  }
}

#startRsvp2 {
  font-family: var(--bolt-font-family-regular, var(--bolt-font-family-system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif));
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgb(73,124,162);
  &:hover {
    background-color: rgb(55, 109, 167);; /* a darker blue on hover */
  }
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 30px;
  font-family: var(--bolt-font-family-regular, var(--bolt-font-family-system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif));
}

#firebaseui-auth-container {
  margin-right: 37px;
  margin-left: 20px;
  width: 100%;
  max-width: 350px;
  padding: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* rounded corners */
  background-color: rgb(196, 194, 194);
}

/* Adjust the hr and firebaseui-auth-container styles to have consistent padding and shadow */

.button-container{
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
  justify-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bxicon{
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
  justify-self: center;
}

.react-datepicker-wrapper{
  transition: none;
}

.description{
  margin-left: 20px;
  align-self: center;
  justify-self: center;
  text-align: left;
}

.desc{
  align-self: left;
  justify-self: left;
  justify-content: left;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
  font-family: var(--bolt-font-family-regular, var(--bolt-font-family-system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif));
}

.phone-label {
  margin-top: 5p;
  margin-bottom: 15px;
  align-self: left;
  justify-self: left;
  justify-content: left;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
  font-family: var(--bolt-font-family-regular, var(--bolt-font-family-system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif));
}

#bookridelink {
  margin-top: 15px;
  margin-bottom: 15px;
  align-self: left;
  justify-self: left;
  justify-content: left;
  font-size: 1px;
  font-weight: 500;
  color: #000000;
  font-family: var(--bolt-font-family-regular, var(--bolt-font-family-system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif));
}

